body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #8701b0;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    background-color: #cc07cf44;
    display: flex;
    justify-content: space-around;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
}

nav a {
    text-decoration: none;
    color: #f9bc02;
    font-size: 2rem;
    padding: 2rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

h1 {
    display: none; /* Oculta o h1 quando a página rola para cima */
}

section {
    padding: 2rem;
    text-align: center;
    margin-top: 100px; /* Adiciona espaço na parte superior para evitar que o conteúdo fique atrás da barra de navegação */
}

footer {
    background-color: #8701b0e0;
    color: #f9bc02;
    padding: 1rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #f9bc02;
    font-size: 1.2rem;
    padding: 1rem;
}

header img {
    width: 300px;


}
